/*input CSS */
.input-group {
    margin-bottom: 20px;
    position: relative;
}

.input-group__label {
    display: block;
    position: absolute;
    top: 0;
    line-height: 40px;
    color: #aaa;
    left: 5px;
    padding: 0 5px;
    transition: line-height 200ms ease-in-out, font-size 200ms ease-in-out, top 200ms ease-in-out;
    pointer-events: none;
    z-index: 3;
}

.input-group__input { 
    width: 100%;
    height: 40px;
    border: 1px solid #dddddd;
    border-radius: 5px; 
}

.input-group__input:not(:-moz-placeholder-shown)+label {
    background-color: white;
    line-height: 10px;
    opacity: 1;
    font-size: 10px;
    top: -5px;
}

.input-group__input:not(:empty)+label {
    background-color: white;
    line-height: 10px;
    opacity: 1;
    font-size: 10px;
    top: -5px;
}

.input-group__input:not(:-ms-input-placeholder)+label {
    background-color: white;
    line-height: 10px;
    opacity: 1;
    font-size: 10px;
    top: -5px;
}

.input-group__input:not(:placeholder-shown)+label,
.input-group__input:focus+label {
    background-color: white;
    line-height: 10px;
    opacity: 1;
    font-size: 10px;
    top: -5px;
}


.input-group__input:focus {
    outline: none;
    border: 1px solid #01080D;
}

.input-group__input:focus+label {
    color: #01080D;
}


.input-group__select+label,
.input-group__select:focus-within+label {
    background-color: white;
    line-height: 10px;
    opacity: 1;
    font-size: 10px;
    top: -5px;
}

.input-group__select:focus+label {
    color: #01080D;
}

/* Styles for the focused dropdown */
.input-group__select:focus {
    outline: none;
    border: 1px solid #01080D;
}


.input-group__label-floated {
    /* Apply styles for the floating label */
    /* For example: */
    top: -5px;
    font-size: 10px;
    line-height: 10px;
    color: #01080D;
    opacity: 1;
}